.newspaper-title{
    font-family: Georgia;
    font-size: 52px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333333;
}

.hidden{
    display: none;
}

.activeArticle{
  -webkit-transition: width 1s ease-in-out 0s;
     -moz-transition: width 1s ease-in-out 0s;
          transition: width 1s ease-in-out 0s;
  width: 100% !important;
}

.article {
    -webkit-transition: all 1s ease-in-out 0s;
       -moz-transition: all 1s ease-in-out 0s;
            transition: all 1s ease-in-out 0s;

    background-color: #EEEEEE;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    font-family: Georgia,Utopia,Charter,serif;
    width:350px;
    text-align:justify;
    text-justify:inter-word;
}

.logo {
    position: relative;
    padding: 10px 10px 10px 10px;
    text-align: right;
    font-size: 24px;
    position: fixed;
    font-family: Georgia,Utopia,Charter,serif;
    font-variant: oblique; 
    text-transform:uppercase;
    z-index: 10000;
    color: #010101;
}


.header {
    position: fixed;
    padding: 10px 10px 10px 10px;
    height: 40px;
    text-align: right;
    font-size: 20px;
    position: fixed;
    font-family: Georgia,Utopia,Charter,serif; 
    text-transform:uppercase;
    z-index: 10000;
    color: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #333;
}

.contentWrapper{
    background-color:white;
}


.large{
    text-transform:uppercase;
    font-size: 40px;
}

.container{
    width: 1200px;
    text-align: center;

}

.date {
    font-size: 12px;
    font-style: normal;
}


.title {
    font-size: 22px;
    line-height: 110%;
    text-decoration: none;
    text-align:left;
    text-justify:inter-word;

}
.source {
    text-align: left;
    font-style: bold; 
}
.container{
    margin-top: 60px;
}

.article a:link {color:#000000; text-decoration: none;}      /* unvisited link */
.article a:visited {color:#000000; text-decoration: none;}  /* visited link */
.article a:hover {color:#000000; text-decoration: none;}  /* mouse over link */
.article a:active {color:#000000; text-decoration: none;}

.article img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

a:link {color: #000000; text-decoration: underline; }
a:active {color: #000000; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #000000; text-decoration: none; }


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

body { 
    overflow-y: hidden;
    display: none;
    margin: 0; 
}


#ascensorBuilding{
    overflow:hidden;
}

#ascensorBuilding section:first-child article h1{
    font-size: 30px;
}

section{
    overflow:auto;
}

section article{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

#navigationMap{
    position: fixed;
    right:60px;
    bottom:50px;
    width: 140px;
    padding:10px;
    height:10px;
    z-index: 999;
    background-color: #666;
    opacity: .8;
    border-radius: 3px;
}

#navigationMap ul li a{
    background: #eee;
    height:10px;
    width: 10px;
    border-radius:2px;
    position: fixed;
}

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

#navigationMap .ascensorLink2{
    margin-left:30px;
}

#navigationMap .ascensorLink3{
    margin-left: 60px;
}

#navigationMap .ascensorLink4{
    margin-left: 90px;
}

#navigationMap .ascensorLink5{
    margin-left: 120px;
}

#navigationMap .ascensorLink6{
    margin-left: 150px;
}

#navigationMap .ascensorLink7{
    margin-left: 180px;
}

#navigationMap .ascensorLinkActive{
    background: #333;
}

#navigationMap .ascensorLink:hover{
    background:#444;
}

section{
    background-color: #ffffff;
}

#splashScreen{

}

#splashCanvas{
    position:relative;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

#titleOverlay{
    position:absolute;
    top:100px;
    left:100px;
    color: #333;    
    font-family: Georgia,Utopia,Charter,serif;
    font-size: 72px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2000;
}

#credits{
    color: #777;
    font-size: 24px;
}

#filterBar{
    align:right; 
    margin-right: 30px;
}